* {
    margin: 0;
}

@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Medium.ttf") format("truetype");
}

html {
    background-color: #3F37C9;
}

table {
    border: solid 1px rgb(0, 0, 0);
    background-color: #4CC9F0;
    border-collapse: collapse;
    opacity: 1;
    margin-right: 25px;
}

td {
    font-family: "Poppins";
    border: solid 1px black;
    background-color: #4CC9F0;
    padding: 20px;
    text-align: center;
}

li {
    text-align: center;
    margin: 50px;
    list-style: none;
    color: white;
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

.titre {
    color: white;
    margin-top: 25px;
    font-family: "Poppins";
    text-align: center;
}

.ajout {
    width: auto;
}

.addnew {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #3F37C9;
}

.name {
    display: flex;
    margin: 15px 15px;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    width: 100%
}

.namemod {
    display: flex;
    margin: 15px 15px;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    width: 100%
}

.namemod label {
    margin-right: 25px;
    width: 130px;
}

.name label {
    margin-right: 25px;
    width: 50px;
}

.lien {
    display: flex;
    margin: 15px 15px;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    width: 100%
}

.lienmod {
    display: flex;
    margin: 15px 15px;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    width: 100%
}

.lienmod label {
    margin-right: 25px;
    width: 120px;
}

.lien label {
    margin-right: 25px;
    width: 50px;
}

.champ {
    padding-left: 10px;
    background-color: #4CC9F0;
    font-family: "Poppins";
    border: none;
    width: 255px;
    height: 40px;
    outline: none;
    border-radius: 10px;
}

.champ::placeholder {
    color: white;
    font-family: "Poppins";
}

.btn {
    margin: 20px 0;
    cursor: pointer;
    width: 100px;
    height: 55px;
    font-family: "Poppins";
    border: none;
    color: white;
    background-color: rgb(0, 192, 0);
    border-radius: 10px;
}

.bod {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3F37C9;
    padding-bottom: 50px;
}

.suppr {
    background-color: red;
    border: none;
    padding: 5px 5px;
    font-family: "Poppins";
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.yuyu {
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    margin: 0 5px;
}

h3 {
    font-family: "Poppins";
    margin: 15px auto;
}

.tabadd {
    display: flex;
    justify-content: center;
    background-color: #3F37C9;
}

.error {
    display: flex;
    color: rgb(255, 0, 0);
    margin-left: 10px;
    align-items: center;
    font-family: "Poppins";
}

.cat {
    display: flex;
    align-items: center;
}

.smil {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}